*,
*::before,
*::after {
	box-sizing: border-box;
}

.app__searchBar {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 2rem;
}

input {
	width: 500px;
	height: 30px;
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 5px;
}

.app__pictures {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
	grid-gap: 1rem;
}

img {
	width: 350px;
}

@media (max-width: 768px) {
	input {
		width: 350px;
	}
}
